snippet buttonComponent
    <script lang="ts">
    import { createEventDispatcher } from "svelte";
    const dispatch = createEventDispatcher();
    function click() {
    dispatch("click");
    }
    </script>

    <button class="" on:click={click}>
    <div class="">
    </div>
    </button>
