# SPDX-FileCopyrightText: 2014-2025 Justus Perlwitz
#
# SPDX-License-Identifier: GPL-3.0-or-later
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 4

[*.patch]
trim_trailing_whitespace = false

[*.md]
indent_size = 2

[*.yaml]
indent_size = 2

[*.org]
max_line_length = 79

[git/gitconfig]
indent_style = tab

[*.nix]
indent_size = 2

[flake.lock]
indent_size = 2

[Caddyfile]
indent_style = tab
