# SPDX-FileCopyrightText: 2014-2025 Justus Perlwitz
#
# SPDX-License-Identifier: GPL-3.0-or-later
karabiner/karabiner.json
karabiner/assets
karabiner/automatic_backups
nvim/plugged
i3/workspace-*.json
# 3rd party
fonts/LICENSE.md
macos-terminal-selenized
selenized
flake.lock
