{
	admin off
	persist_config off
}
# Attic
https://lithium.local:10100 {
	tls /etc/caddy/certs/lithium-server.crt /etc/caddy/certs/lithium-server.key
	reverse_proxy localhost:18080
	log /var/log/caddy/attic
}

# Anki
https://lithium.local:10101 {
	tls /etc/caddy/certs/lithium-server.crt /etc/caddy/certs/lithium-server.key
	reverse_proxy localhost:18090
	log /var/log/caddy/anki
}

https://lithium.local:10102 {
	tls /etc/caddy/certs/lithium-server.crt /etc/caddy/certs/lithium-server.key
	reverse_proxy localhost:18100
	log /var/log/caddy/projectify
}
